<p>homecomponent works!</p>

<section aria-label="Counter">
  <app-counter-component [startCount]="5" (countChange)="handleCountChange($event)"></app-counter-component>
  <app-counter-component [startCount]="8" (countChange)="handleCountChange($event)"></app-counter-component>
  <app-counter-component [startCount]="10" (countChange)="handleCountChange($event)"></app-counter-component>
</section>

<section aria-label ="Counter connected to the service">
  <app-service-counter></app-service-counter>
  <app-service-counter></app-service-counter>
  <app-service-counter></app-service-counter>
</section>
<section aria-label ="Service component 3 with unique ID">
 <app-service-counter-component3></app-service-counter-component3>
</section>

<section aria-label="NgRx counter">
  <app-ngrx></app-ngrx>
  <app-ngrx></app-ngrx>
  <app-ngrx></app-ngrx>
</section>
