.maClasse4 {
  border: 1px solid red;
}
.maClasse51 {
  background: dodgerblue;
}
.maClasse52 {
  background: gold;
}
.maClasse6 {
  color: darkred;
}
.maClasse71 {
  background: red;
  color: white;
}
.maClasse72 {
  background: green;
  color: white;
}
