
<h1>
  {{title()}}
</h1>
<nav>
  <a routerLink="todos"></a>
</nav>
<router-outlet></router-outlet>
<router-outlet />

<h1>PARTIE 1: ATTRIBUTES DIRECTIVES ANGULAR</h1>

<h2>ngStyle</h2>

<p>(1) appliquer plusieurs styles</p>
<div [ngStyle]="{'background-color': 'yellow', 'color': 'blue'}">"message in a bottle" (The police)</div>
<hr>

<p>(2) appliquer un style précis</p>
<div [style.color]="'red'">"C'est pas ma guerre !" (Rambo)</div>
<hr>

<p>(3) changer un style précis suivant une condition</p>
<button (click)="changeStyle3()">changer le style - flag3={{flag3}}</button>
<div [style.color]="flag3 ? colorA : colorB">"C'est des malades !" (Les visiteurs)</div>      <!-- flag3=true ou false. si true -> la classe : colorA sinon la classe : colorB -->

<hr>
<h2>NgClass</h2>

<p>(4) appliquer simplement une classe</p>
<div [className]="'maClasse4'">"Luke, je suis ton père…" (Dark vador)</div>       <!--  voir la classe: maClasse4 dans : app.component.css -->
<div [className]="dataClasse4">"Luke, je suis ton père…" (Dark vador)</div>       <!--  voir la variable dataClasse4 dans : app.component.ts qui contient la classe -->
<hr>

<p>(5) (une condition)? 'classeX' : 'classeY"</p>
<button (click)="this.flag5 = !this.flag5">changer la classe - flag5={{flag5}}</button>
<div [className]="(flag5) ? 'maClasse51' : 'maClasse52'">"J’ai les mains faites pour l’or, et elles sont dans la merde !" (Scarface)" </div>
<hr>

<p>(6) une classe précise, (une condition)?</p>
<button (click)="changeClasse6()">changer la classe - flag6={{flag6}}</button>
<div [class.maClasse6]="flag6">"On se serait shooté à la vitamine C si cela avait été illégal" (Trainspotting )</div>
<hr>

<p>(7) plusieurs classes, plusieurs (conditions)?</p>
<button (click)="flag71 = !flag71">changer la 1re condition - flag71={{flag71}}</button>
<button (click)="flag72 = !flag72">changer la 2e condition - flag72={{flag72}}</button>
<div [ngClass]="{'maClasse71': flag71 == flag72, 'maClasse72': !flag71 && !flag72}">"C’est à moi que tu parles ? C’est à moi que tu parles ??..." (Taxi driver)</div>

<hr>
<hr>

<h1>PARTIE 2 : ATTRIBUTES DIRECTIVES PERSONNALISES</h1>

<p>(8) <span appAttribute>"survolez-moi!" - par défaut</span></p>
<br><br><br>
